* {
    box-sizing: border-box;
}

body {
    opacity: 0;
    transition: 0.3s opacity;
    /* background-color: #f6f9fa; */
    background-image: url(../images/background/light.svg);
    background-repeat: repeat;
    background-attachment: fixed;
}

html .bg-decensored {
    background-color: #3833a4;
}

@media (prefers-color-scheme: dark) {
    /* html .bg-decensored {
        background-color: #1E1C51;
    } */

    body {
        background-image: url(../images/background/dark.svg);
    }
}


html .text-decensored {
    color: #3833a4;
}

.focus\:shadow-sm:focus {
    box-shadow: none !important;
}