@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  opacity: 1;
  transition: 0.3s opacity;
  background-image: url('../public/background/light.svg');
  background-repeat: repeat;
  background-attachment: fixed;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

html .bg-decensored-gradient {
  background-color: #3833a4;
  background: rgb(57, 56, 161);
  background: linear-gradient(
    45deg,
    rgba(57, 56, 161, 1) 0%,
    rgba(57, 56, 161, 1) 35%,
    rgba(89, 56, 161, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../public/background/dark.svg');
  }
}

.focus\:shadow-sm:focus {
  box-shadow: none !important;
}

.opacity-0 {
  opacity: 0;
}

#message {
  opacity: 0;
}
