@tailwind base;
@tailwind components;
@tailwind utilities;

html:not([style*='overflow: hidden']) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

// body {
//   background-repeat: repeat;
//   background-attachment: fixed;
//   background-image: url('/background/light.svg');
//   .dark & {
//     background-image: url('/background/dark.svg');
//   }
// }

html {
  &.dark {
    .toggleDarkMode {
      justify-content: flex-end;
    }
  }
  &.light {
    .toggleDarkMode {
      justify-content: flex-start;
    }
  }
}

html {
  .bg-gradient,
  &.dark .dark\:bg-gradient {
    background-color: #3833a4;
    background: rgb(57, 56, 161);
    background: linear-gradient(
      45deg,
      rgba(57, 56, 161, 1) 0%,
      rgba(57, 56, 161, 1) 35%,
      rgba(89, 56, 161, 1) 100%
    );
  }
}

.h-screen-header {
  min-height: calc(100vh - 100px);
}


// @media (min-width: 480px) {
//   html .Toastify__toast-container--bottom-center {
//     bottom: 120px;
//   }
// }

#headlessui-portal-root {
  position: relative;
  z-index: 1000;
}

// #posts > div {
//   &:nth-child(n+2) {
//     display: none;
//   }
// }