// show classNames errors
[class*='undefined'],
[class*='false'] {
  position: relative;

  &:before {
    background: rgba(161, 56, 56, 0.726);
    border-radius: 2px;
    color: red;
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

[class*='undefined']:before {
  content: 'undefined';
}

[class*='false']:before {
  content: 'false';
}
