@tailwind base;
@tailwind components;
@tailwind utilities;

html:not([style*='overflow: hidden']) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

html {
  &.dark {
    .toggleDarkMode {
      justify-content: flex-end;
    }
  }
  &.light {
    .toggleDarkMode {
      justify-content: flex-start;
    }
  }
}

html {
  .bg-gradient,
  &.dark .dark\:bg-gradient {
    background-color: #3833a4;
    background: rgb(57, 56, 161);
    background: linear-gradient(
      45deg,
      rgba(57, 56, 161, 1) 0%,
      rgba(57, 56, 161, 1) 35%,
      rgba(89, 56, 161, 1) 100%
    );
  }
}

.hide-on-mobile {
  @apply hidden md:block
}

.hide-on-desktop {
  @apply block md:hidden
}

#asideNavigation {

}

#bottomNavigation {

}

$headerHeight: 60px;

.h-header {
  height: $headerHeight;
}

.h-screen-virtuoso {
  min-height: calc(100vh - $headerHeight); // --vh fallback
  min-height: calc(var(--vh, 1vh) * 100 - $headerHeight);
}

.h-screen-body {
  min-height: 100vh; // --vh fallback
  min-height: calc(var(--vh, 1vh) * 100);
}

.h-screen-sidebar {
  min-height: calc(100vh - 100px); // --vh fallback
  min-height: calc(var(--vh, 1vh) * 100 - 100px);

  @media (max-width: 640px) {
    min-height: calc(100vh - 80px); // --vh fallback
    min-height: calc(var(--vh, 1vh) * 100 - 80px);
  }
}

div[data-test-id*="virtuoso-item-list"] > div:first-child {
  @apply mt-3 sm:mt-10
}

.disabled-link > * {
  pointer-events: none;
  opacity: 0.5;
}

// @media (min-width: 480px) {
//   html .Toastify__toast-container--bottom-center {
//     bottom: 120px;
//   }
// }

#headlessui-portal-root {
  position: relative;
  z-index: 1000;
}

[class*="undefined"] {
  position: relative;

  &:before {
    background: rgba(161, 56, 56, 0.726);
    border-radius: 2px;
    color: red;
    content: "undefined tw class";
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
}