<div id="header" class="fixed left-0 top-0 right-0 pointer-events-none hidden md:block">
    <div class="flex gap-y-5 p-4 justify-between items-center">
        <img class="h-10" src="images/logo/signet.svg"/>
        <div class="text-gray-400 text-sm pointer-events-auto">
            <a href="https://github.com/mikrohash/decensored" target="_blank">github</a>
            <span class="mx-2">|</span>
            <a href="https://t.co/Lmou3Qx5Ap" target="_blank">Discord</a>
        </div>
    </div>
</div>