
<div id="overlay" class="fixed left-0 top-0 right-0 h-screen pointer-events-none">
    <div id="screen_sign_up" style="display: none;">
        <div class="container mx-auto px-3 pb-4 max-w-md">
            <img src="images/logo/logotype_invert.svg"/>
            <!-- <h1 class="text-white text-center text-2xl mb-5">Sign-up</h1> -->
            <div id="signup_or_recover_form" class="mt-2 min-h-[42px]">
                <div id="signup_form" class="flex gap-3">
                    <div class="grow shrink">
                        <input class="form-input p-3 !rounded w-full" type="text" placeholder="Choose your username" id="username">
                    </div>
                    <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold px-4 rounded whitespace-nowrap" onclick="on_sign_up_button_pressed()">Sign-up</button>
                </div>
                <div id="recover_form" class="flex gap-3" style="display: none; opacity: 0">
                    <div class="grow shrink">
                        <input class="form-input p-3 !rounded w-full" type="text" placeholder="Paste in your key" id="credentials">
                    </div>
                    <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold px-4 rounded whitespace-nowrap" onclick="on_recover_account_button_pressed()">Recover</button>
                </div>
            </div>
            <p class="text-center text-white text-sm decoration-white-8 py-3 underline hover:no-underline cursor-pointer" onclick="signup_or_recover_toggle()">
                <span id="recover_toggle" class="hidden">Sign-up with username</span>
                <span id="signup_toggle">Recover your account</span>
            </p>
        </div>
    </div>
    <div id="settings_dialog" class="hidden opacity-0 flex justify-center pt-5 items-start sm:items-center inset-0 bg-black bg-opacity-30 dark:bg-opacity-80 overflow-y-auto h-full w-full pointer-events-auto">
        <div class="relative shadow-xl rounded bg-white dark:bg-gray-900 divide-y divide-solid divide-gray-200 dark:divide-gray-800 w-96 max-w-[90%]">
            <div class="px-8 py-6">
                <h3 class="text-lg leading-6 font-medium text-center mb-8">Settings</h3>
                <div class="my-2">
                    <div class="text-xs text-gray-900 dark:text-gray-300 mb-2">Blacklist url</div>
                    <textarea class="form-input p-3 !rounded dark:bg-black border border-gray-300 dark:border-gray-500 w-full h-28 focus:outline-none focus:ring-2 focus:ring-purple-700" id="blacklist_url"></textarea>
                </div>
                <div class="my-2">
                    <div class="text-xs text-gray-900 dark:text-gray-300 mb-2">Copy your private key to recover your account</div>
                    <div class="flex gap-3">
                        <input class="form-input p-3 !rounded dark:bg-black border border-gray-300 dark:border-gray-500 w-full h-10 focus:outline-none focus:ring-2 focus:ring-purple-700" id="privateKey" value="" readonly />
                        <button class="border border-gray-300 dark:border-gray-500 hover:border-transparent hover:bg-purple-700 hover:text-white font-bold py-2 px-3 rounded" onclick="on_copy_credentials_button_pressed()"><i class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>
            <div class="flex gap-x-5 p-4">
                <div class="grow">
                    <button onclick="toggle_settings_dialog()" class="w-full bg-transparent text-gray-900 hover:text-purple-900 dark:text-gray-500 font-medium py-2 px-3 rounded cursor-pointer">Cancel</button>
                </div>
                <div class="grow">
                    <button onclick="save_settings_dialog()" class="w-full bg-decensored-900 hover:bg-purple-800 text-white font-medium py-2 px-3 rounded cursor-pointer">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="screen_tokens" class="screen">
        <h1>Buy ONE to post</h1>
        <p>To create posts you need just a few cents of ONE to cover transaction costs. Send them to your MetaMask. You can ask me
            on Discord (microhash#4229) to swap some MIOTA for ONE.</p>
        <button onclick="close_screen_tokens_if_complete(true)">I'm done!</button>
    </div>-->
</div>