<nav id="navbar" class="fixed left-0 right-0 bottom-0 bg-white dark:bg-black shadow-2xl divide-y divide-solid divide-gray-200 dark:divide-gray-800" style="display: none;">
    <div id="navbar_inner" class="container mx-auto py-6 max-w-md flex gap-y-5">
        <a id="all" href="?" class="grow flex flex-col items-center justify-center text-decensored-900 hover:text-purple-800">
            <i class="fa fa-comments text-3xl"></i>
            <span class="text-xs mt-2">Feed</span>
        </a>
        <a id="profile" href="?‚" class="grow flex flex-col items-center justify-center text-decensored-900 hover:text-purple-800">
            <i class="fa fa-comment text-3xl"></i>
            <span class="text-xs mt-2">My posts</span>
        </a>
    </div>
</nav>