<div id="spaces">
    <div class="container mx-auto py-10 px-3 max-w-md flex flex-col gap-y-5 mb-28">
        <div id="create-space" class="p-5 bg-white dark:bg-gray-900 rounded shadow-sm mb-5">
            <div class="p-5">
                <div class="flex flex-col justify-center items-center">
                    <p class="text-3xl mb-1 text-gray-900 dark:text-gray-300">Start a new space</p>
                    <p class="text-md mb-4">Build your own network</p>
                    <button class="bg-decensored-900 hover:bg-purple-800 text-white font-medium py-2 px-3 rounded cursor-pointer">Create space</button>
                </div>
            </div>
        </div>
        <!-- <div id="search-space" class="bg-white p-5 dark:bg-gray-900 rounded shadow-sm">
            <div class="flex gap-3">
                <div class="grow shrink">
                    <input class="p-3 rounded dark:bg-black border border-gray-300 dark:border-gray-500 w-full focus:outline-none focus:ring-2 focus:ring-purple-700" type="text" placeholder="Find a space">
                </div>
                <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold px-4 rounded whitespace-nowrap">Search</button>
            </div>
        </div> -->
        <div class="flex flex-col gap-y-5 mb-28">
            <div class="post bg-white dark:bg-gray-900 rounded shadow-sm">
                <div class="rounded-t p-5">
                    <div class="meta flex justify-between"><a href="?s=IOTA" class="space font-bold text-gray-900 dark:text-gray-300"><i class="fas fa-satellite mr-2"></i>IOTA</a>
                        <div class="members flex justify-end items-center gap-x-2 pointer-events-none">
                            <i class="fas fa-user-astronaut text-md text-gray-900 dark:text-gray-300" title="Members"></i>
                            <span class="flex-none uppercase bg-decensored-100 text-gray-600 text-xs tracking-wide font-semibold px-2 py-1 rounded-md">578</span>
                        </div>
                    </div>
                    <div class="message break-words mt-2">IOTA is a scalable, decentralized, feeless, modular, open-source distributed ledger protocol that goes 'beyond blockchain' through its core invention of the blockless ‘Tangle’. The IOTA Tangle is a Directed Acyclic Graph (DAG). IOTA is aiming to be the backbone of the emerging machine-to-machine (m2m) economy of the Internet-of-Things (IoT), data integrity, micro-/nano- payments, and other cases where a scalable decentralized system adds value.</div>
                </div>
            </div>

            <div class="post bg-white dark:bg-gray-900 rounded shadow-sm">
                <div class="rounded-t p-5">
                    <div class="meta flex justify-between"><a href="?s=Shimmernet" class="space font-bold text-gray-900 dark:text-gray-300"><i class="fas fa-satellite mr-2"></i>Shimmernet</a>
                        <div class="members flex justify-end items-center gap-x-2 pointer-events-none">
                            <i class="fas fa-user-astronaut text-md text-gray-900 dark:text-gray-300" title="Members"></i>
                            <span class="flex-none uppercase bg-decensored-100 text-gray-600 text-xs tracking-wide font-semibold px-2 py-1 rounded-md">78</span>
                        </div>
                    </div>
                    <div class="message break-words mt-2">Shimmer will be the official incentivized staging network of IOTA, with the native Shimmer token (SMR) and an independent ecosystem. All major upgrades of IOTA will first be available on the Shimmer network, offering builders and users a dedicated network to get early access to new innovations and opportunities. Be part of an ecosystem that dares to innovate further than any Blockchain can go.</div>
                </div>
            </div>

            <div class="post bg-white dark:bg-gray-900 rounded shadow-sm">
                <div class="rounded-t p-5">
                    <div class="meta flex justify-between"><a href="?s=Assembly" class="space font-bold text-gray-900 dark:text-gray-300"><i class="fas fa-satellite mr-2"></i>Assembly</a>
                        <div class="members flex justify-end items-center gap-x-2 pointer-events-none">
                            <i class="fas fa-user-astronaut text-md text-gray-900 dark:text-gray-300" title="Members"></i>
                            <span class="flex-none uppercase bg-decensored-100 text-gray-600 text-xs tracking-wide font-semibold px-2 py-1 rounded-md">68</span>
                        </div>
                    </div>
                    <div class="message break-words mt-2">The Future of Open Worlds - built on a feeless, scalable multi-chain network, powered by $ASMB. Create. Shape. Build.</div>
                </div>
            </div>
        </div>
    </div>
</div>